body {
  padding: 0;
  margin: 0;
}

table.r-spreadsheet {
  margin: 10px 0px 0px 0px;
  border-collapse: separate;
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0;
  table-layout: fixed;
  outline-width: 0;
}

th.r-spreadsheet {
  background-color: #EEE;
  color: #222;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
}

thead > tr > th.r-spreadsheet {
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.4);
}

thead > tr > th:first-child.r-spreadsheet {
  border-left: 1px solid #CCC;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

tbody > tr > th.r-spreadsheet {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  padding: 0 7px 0 7px;
}

.r-invisible {
  visibility: hidden;
}

.r-selected-cell {
  border: solid 2px blue;

  /* keeps the cells from moving odd 1px amounts when selected */
  padding: 1px 1px 1px 4px !important;
  border-right: 1px solid blue !important;
  border-bottom: 1px solid blue !important;
  /* had to use box shadow hack to get bottom and right borders
  that dont move the cells */
  box-shadow: inset -1px -1px 0px 0px blue;
  -webkit-box-shadow: inset -1px -1px 0px 0px blue;
  -moz-box-shadow: inset -1px -1px 0px 0px blue;
  -o-box-shadow: inset -1px -1px 0px 0px blue;

}

.r-cell-view {
  width: 80px;
  height: 20px;
  padding: 2px 2px 2px 5px;
  margin: 5px;
  white-space: nowrap;

  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.r-cell-edit {
  box-sizing: border-box;
  margin: 0px;
  padding: 1px 4px 0px 2px;
  border: none 0px black;
  outline: none;

  position: absolute;
  z-index: 1;

  box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.4); 
  -webkit-box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.4);
}